<!--
    Templates are used. They're downloaded from 
    "https://templatemo.com/tm-521-get-ready" and 
    "https://templatemo.com/tm-525-the-town"  
-->
<!DOCTYPE html>
<html lang="en">
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CU Par</title>
    <link rel="stylesheet" href="fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="css_main/bootstrap.min.css" />
    <link rel="stylesheet" href="css_main/templatemo-style.css" />
    <style>


      #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }


    </style>
    
  </head>


  <body>    
    <!-- Hero section -->

    <section id="hero" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
        <div class="container">   
          <div class="tm-next">
              <a href="#hero" class="navbar-brand">CU Par</a>
          </div>             
            
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" onclick="window.location='Roommate'"href="###">Roommate</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" onclick="window.location='Teammate'"href="###">Teammate</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" onclick="window.location='forum'"href="###">Post</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" onclick="window.location='account_page'"href="###">{{this.username}}</a>
              </li>
              <li class="nav-item">
                {{#if this.login}}
                <a class="nav-link tm-nav-link" onclick="window.location='logout'" href="###">Log out</a>
                {{else}}
                <a class="nav-link tm-nav-link" onclick="window.location='logout'" href="###">Log in</a>
                {{/if}}
              </li>                      
            </ul>
          </div>        
        </div>
      </nav>
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">CU Par</h2>
            <p class="tm-hero-subtitle">
              A website for CU students to find all kinds of partners<br/>
            </p>
            <!--
            <p style="color: silver" class="tm-hero-subtitle">
              Start to explore
            </p>
          -->
        </div>        
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#Roommate" class="text-center tm-down-arrow-link">
          <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
        </a>
      </div>      
    </section>

    <!--Roommate-->
    <section id="Roommate" class="tm-section-pad-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="img/the-town-01.jpg" alt="Image" class="img-fluid tm-intro-img" />
          </div>
          <div class="col-lg-6">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4 tm-section-title">Roommate</h2>
                <p class="mb-4 tm-intro-text">
                  Find your <strong>roommate</strong> here!
              </p>
                <p class="mb-5 tm-intro-text">
                  Having difficulties in finding roommates?
                  Tell us you living habits and roommate preference.<br/>
                  We will help match your ideal roommate!</p>
                <div class="tm-next">
                  <a href="Roommate" class="tm-intro-text tm-btn-primary">Start Roommate Matching</a>
                </div>
            </div>
          </div>
        </div>
    </section>

    <!--Teammate-->
    <section id="Teammate" class="tm-section-pad-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4 tm-section-title">Teammate</h2>
                <p class="mb-4 tm-intro-text">
                  Find your <strong>Teammate</strong> here!
              </p>
                <p class="mb-5 tm-intro-text">
                  Having difficulties in finding teammates?
                  Tell us the course project you have and what kind of teammates you need.<br>
                  We will help match your ideal Teammate!</p>
                <div class="tm-next">
                  <a href="Teammate" class="tm-intro-text tm-btn-primary">Start Teammate Matching</a>
                </div>
            </div>
          </div>
          <div class="col-lg-6">
            <img src="img/teammate.jpg" alt="Image" class="img-fluid tm-intro-img" />
          </div>
        </div>
    </section>

    <!--Post-->
    <!--forum-->
    <section id="Post" class="tm-section-pad-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="img/the-town-03.jpg" alt="Image" class="img-fluid tm-intro-img" />
          </div>
          <div class="col-lg-6">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4 tm-section-title">Post</h2>
                <p class="mb-4 tm-intro-text">
                  If you have an activity that needs partners...<br><br>
                  Just have a look at <strong>Post</strong>!
              </p>
                <p class="mb-5 tm-intro-text">
                  Having difficulties in all kinds of partners?
                  Tell everyone what you want to do!<br/>
                  You will find friends with same hobby!</p>
                <div class="tm-next">
                    <a href="forum" class="tm-intro-text tm-btn-primary">Go to Post</a>
                </div>
            </div>
          </div>
        </div>
    </section>
    <br><br><br><br><br>


    <!-- Contact -->
    <section id="Contact" class="tm-section-pad-top tm-parallax-2">
      <div class="container tm-container-COntact">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-4 tm-section-title">Contact</h2>
                <div class="mb-5 tm-underline">
                  <div class="tm-underline-inner"></div>
                </div>
                <p class="mb-5">
                  If you have problems using this website, please contact us.<br> <br> 
                </p>
            </div>
            
            <div class="text-center col-12">
                  <i class="fas fa-3x fa-phone mr-4"></i>
                  <span class="mb-0">3100-0001</span>
              </a>
              <br>  <br> <br> <br> <br> <br>             
            </div>
            <div class="text-center col-12">
                  <i class="fas fa-3x fa-envelope mr-4"></i>
                  <span class="mb-0">group01@csci3100.com</span>
              </a>              
            </div>
        </div>
      </div>
      <footer class="text-center large tm-footer">
          <p class="mb-0">
            Copyright &copy; CUPar 
            
            - Design: Group 01
          </p>
        </footer>
    </section>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("myBtn").style.display = "block";
        } else {
          document.getElementById("myBtn").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <script src="js_main/jquery-1.9.1.min.js"></script>     
    <script src="slick/slick.min.js"></script>
    <script src="magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="js_main/jquery.singlePageNav.min.js"></script>     
    <script src="js_main/bootstrap.min.js"></script> 
    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm        
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        $(window).scroll(function(){
          var firstTop = $object.offset().top,
              pos = $(window).scrollTop(),
              yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

          var bg_css = 'center ' + yPos + 'px';

          $object.css({"background-position" : bg_css });
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#Contact"), 0.80);   
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });
        
        // Close mobile menu after click 
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show'); 
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav();        
        
        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 400, function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: { enabled: true }
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 2,
          responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
        });
      });
    </script>
  </body>
</html>