<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Roommate-CU Par</title>
    <link rel="stylesheet" href="fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="css_main/bootstrap.min.css" />
    <link rel="stylesheet" href="css_main/templatemo-style.css" />
    <style>
        input.tm-input-placeholder::-webkit-input-placeholder{
          color: grey;
        }
        select.tm-input-select{
          color: grey;
        }
      </style>
  </head>


  <body>    
    <!-- Top section -->
    <section id="hero" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
        <div class="container">   
          <div class="tm-next">
              <a onclick="window.location=''"href="###" class="navbar-brand">CU Par</a>
          </div>             
            
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" onclick="window.location='Roommate'"href="###">Roommate</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" onclick="window.location='Teammate'"href="###">Teammate</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link"  onclick="window.location='forum'"href="###">Post</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" onclick="window.location='account_page'"href="###">{{this.username}}</a>
              </li>
              <li class="nav-item">
                {{#if this.login}}
                <a class="nav-link tm-nav-link" onclick="window.location='logout'" href="###">Log out</a>
                {{else}}
                <a class="nav-link tm-nav-link" onclick="window.location='logout'" href="###">Log in</a>
                {{/if}}
              </li>                           
            </ul>
          </div>        
        </div>
      </nav>
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">CU Par - Roommate</h2>
            <p class="tm-hero-subtitle" >
              Find your Roommate here!
              <br />Come on!
            </p>
        </div>        
      </div>
      
    
      <div class="tm-next tm-intro-next">
        <a href="#Roommate" class="text-center tm-down-arrow-link">
          <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
        </a>
      </div>
          
    </section>

    <!--Main Part-->
    <section id="Roommate" class="tm-section-pad-top"  style="text-align:center">
      <div class="container">
          <br><br><br><br>
          <p style="font-size:24px; color:#3496d8">
            Sorry, We haven't find your roommate.
          </p>
          <p style="font-size:24px; color:#3496d8">
            You could check the result a few hours later.
          </p>
          <br><br><br><br> <br><br><br><br>
      </div>
    </section>
    

    <!-- Contact -->
    <section id="Contact" class="tm-section-pad-top tm-parallax-2">
      <div class="container tm-container-COntact">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-4 tm-section-title">Contact</h2>
                <div class="mb-5 tm-underline">
                  <div class="tm-underline-inner"></div>
                </div>
                <p class="mb-5">
                  If you have problems using this website, please contact us.<br> <br> 
                </p>
            </div>
            
            <div class="text-center col-12">
                  <i class="fas fa-3x fa-phone mr-4"></i>
                  <span class="mb-0">3100-0001</span>
              </a>
              <br>  <br> <br> <br> <br> <br>             
            </div>
            <div class="text-center col-12">
                  <i class="fas fa-3x fa-envelope mr-4"></i>
                  <span class="mb-0">jack123qd@hotmail.com</span>
              </a>              
            </div>
        </div>
      </div>
      <footer class="text-center large tm-footer">
          <p class="mb-0">
            Copyright &copy; CUPar 
            
            - Design: Group 01
          </p>
        </footer>
    </section>
    <script src="js_main/jquery-1.9.1.min.js"></script>     
    <script src="slick/slick.min.js"></script>
    <script src="magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="js_main/jquery.singlePageNav.min.js"></script>     
    <script src="js_main/bootstrap.min.js"></script> 
    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm        
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        $(window).scroll(function(){
          var firstTop = $object.offset().top,
              pos = $(window).scrollTop(),
              yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

          var bg_css = 'center ' + yPos + 'px';

          $object.css({"background-position" : bg_css });
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#Contact"), 0.80);   
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });
        
        // Close mobile menu after click 
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show'); 
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav();        
        
        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 400, function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: { enabled: true }
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 2,
          responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
        });
      });
    </script>
  </body>
</html>
<!--
  
    Templates are used at first.
    However, our team change a lot from the original trmplates.
    They're downloaded from 
    "https://templatemo.com/tm-521-get-ready" and 
    "https://templatemo.com/tm-525-the-town"  
    
-->